<%- include('partials/header') -%>

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in" >
    <div class="container">
      <h2>About Us</h2>
      <p>A strong Academia-Industry Interaction is the major focus of the department as well as the University. We believe that higher education is not only synonym with the world class facility, faculty and students but also with the involvement of industry in academia. Whatever we do and facilitate our students with, it remains incomplete without the involvement of the industry where this knowledge is actually gets implemented.  </p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/p-4.png" class="img-fluid" alt="">
          <br>
          <br>
          <br>
          <br>
          <img src="assets/img/p-5.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>J.C Bose UST YMCA Faridabad</h3>
          <h3>Industry Relation Cell</h3>
          <p class="fst-italic">
            Industry Relations (IR) was established with an aim to capitalize on the already strong relationship that YMCA Faridabad enjoys with the Industry and to further strengthen it by facilitating with larger Industry collaborations. We have a high performing team that is actively engaged in catalyzing transfer of knowledge and emerging technologies from academia to industry and leveraging the power of multiple-society connect initiatives to catalyze cross-disciplinary learning avenues and cross-cultural solution building.
             <p>
<p class="fst-italic">
In our efforts to rise in a global landscape,Industry Relations is at the forefront of fostering a sustainable environment for innovation, promotion of entrepreneurship, and towards building a responsive ecosystem to meet these demands in the global marketplace catering to various worldwide industries. We believe, breaking down the silos to catalyze Industry-Academia collaborations is a key to success for techno-solution building.
Our Plans Include:</p>
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Bridge the gap between Industry and Academia.</li>
            <li><i class="bi bi-check-circle"></i> Open various avenues for collaboration with industry towards providing an enabling  environment for students.</li>
            <li><i class="bi bi-check-circle"></i> Provide environment and opportunities for development through Skill development and value added courses.</li>
            <li><i class="bi bi-check-circle"></i> Develop more Centre of Excellence through enhanced interaction with industries.</li>
            <li><i class="bi bi-check-circle"></i> Moving towards paper-less University.</li>
            <li><i class="bi bi-check-circle"></i> Inculcating ethical and moral values in students .</li>
            <li><i class="bi bi-check-circle"></i> Academic expansion.</li>
            <li><i class="bi bi-check-circle"></i> Helping to excel in communication, inter-personal and soft skills.</li>
          </ul>
          <p>
            As a University, we continually thrive for knowledge and seek a close partnership with the industry to create a better society that is both ethically as well as technically strong.As a University, we continually thrive for knowledge and seek a close partnership with the industry to create a better society that is both ethically as well as technically strong.
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg" style="background-image: url('assets/img/count-11.jpg');">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="52" data-purecounter-duration="1" class="purecounter" style="color:white"></span>
          <h4 style="color: white">Years Of Excellence</h4>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="2115" data-purecounter-duration="1" class="purecounter" style="color:white"></span>
          <h4 style="color: white">Students</h4>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="39" data-purecounter-duration="1" class="purecounter" style="color:white"></span>
          <h4 style="color: white">Courses</h4>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="38" data-purecounter-duration="1" class="purecounter" style="color:white"></span>
          <h4 style="color:white">MOU's</h4>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Messages</h2>
        <p>Some Messages </p>
      </div>

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="assets/img/vc.jpg" class="testimonial-img" alt="">
                <h3>Prof Dinesh Kumar</h3>
                <h4>Vice Chancellor YMCAUST</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  It is a pleasure having such a hardworking IR Cell which is working day and night towards making students ready for the industrial setup in the near future.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="assets/img/eesl.jpg" class="testimonial-img" alt="">
                <h3>Mr Venkatash Diwedi</h3>
                <h4>Director, Projects and Business Development EESL.</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  With the help of IR Cell our Company and the University were able to sign MOU and working towards reducing the carbon emission for clean and efficienct energy projects in the campus.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="assets/img/fuji.jfif" class="testimonial-img" alt="">
                <h3>Mr. Mahesh Sachdeva</h3>
                <h4>Managing Director Fuji Gemco Private Limited</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Collaborating with the college I have studied is a great honor and Industry Relation Cell has definetly played an important role in it, Kudos to Industry Relation Cell!!.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="assets/img/schinder.jfif" class="testimonial-img" alt="">
                <h3>Mr. Sai Krishan Rao</h3>
                <h4>General Manager-Education & Training Schneider Electric.</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  With the efforts of IR Cell ,Schneider Electric would be able to collaborate with the university and train students regarding infrastructure pertaining to electrical, automation, energy management and renewable Energy and its associated areas.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="assets/img/praveen.jfif" class="testimonial-img" alt="">
                <h3>Praveen Kharb</h3>
                <h4>Student YMCAUST</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  With the efforts from the IR Cell different companies had collaborated with us which has result in better industrial experience which is a much need for students.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

</main><!-- End #main -->

<%- include('partials/footer') -%>
