<%- include('partials/header') -%>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in" >
      <div class="container">
        <h2>List of MOU's</h2>
        <h6>The MOU(Memorandum of understanding) can be seen as the starting point of the beginning of our journey with the collaborator. 
            It consists of the information like objective,validity etc.It can also be seen an official stamp on the friendship 
            of the university and partners.</h6>
      </div>
    </div>

    <section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <h2 style="text-align: center;">MoU Signed by the University during Last 5 years</h2>
        <h4 style="text-align: center;"> Academic Year 2016-2017</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">MoU /Agreement<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspwith the<br> Company/institution</th>
            <th scope="col">Date of Agreement/MoU</th>
            <th scope="col">Validity period</th>
            <th scope="col">Objectives of MoU</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1.</th>
            <td>Daikin Air conditioning India Private Limited ((DAIPL)</td>
            <td>03/08/2016</td>
            <td>3 Years</td>
            <td>-To enable the parties to enter into a non-exclusive collaborative relationship for the purpose of furthering their common interests of imparting training related to HVAC system.</td>
          </tr>
          <tr>
            <th scope="row">2.</th>
            <td>Orient Electric Faridabad</td>
            <td>08/12/2016</td>
            <td>5 Years</td>
            <td>-To establish collaborative training facility and mechanisms for providing skill developments to ORIENT engineers /faculty / students.</td>
          </tr>
          <tr>
            <th scope="row">3.</th>
            <td>Central Electronics Engineering Research Institute, Pilani Rajasthan, India</td>
            <td>27/04/2017</td>
            <td>2 Years</td>
            <td>-To provide assistance in the area of teaching, research, exchange of Faculty and students, cultural exchange and staff development as deemed beneficial by the two institutions.</td>
          </tr>
          <tr>
            <th scope="row">4.</th>
            <td>Mahindra Telephonics Pvt. ltd</td>
            <td>02/05/2017</td>
            <td>5 Years</td>
            <td>-To recognise the importance of research and development in the related areas
                    <br>
                -To impart industrial training to the engineering/ technology/ management students etc. </td>
          </tr>
          <tr>
            <th scope="row">5.</th>
            <td>Semi-Conductor Laboratory Department of Space "Govt. of India"</td>
            <td>22/05/2017</td>
            <td>10 Years</td>
            <td>-To exchange Staff and Students (Faculty & Research Scholars; Under Graduate, 
                Post graduate & Doctoral Students and Research Project Employees)
                 regarding Academics and Research for the mutual benefit of both institutions. </td>
          </tr>
          <tr>
            <th scope="row">6.</th>
            <td>Confederation of Indian Industry & Bhiwadi Manufactures Association </td>
            <td>24/05/2017</td>
            <td>1 Year</td>
            <td>-To develop industry Academia partnership to primarily 
                improve the quality of technical education and potentially contribute towards developing industry. </td>
          </tr>

        </tbody>
      </table>
      <br><br>
      <h4 style="text-align: center;"> Academic Year 2017-2018</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">MoU /Agreement<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspwith the<br> Company/institution</th>
            <th scope="col">Date of Agreement/MoU</th>
            <th scope="col">Validity period</th>
            <th scope="col">Objectives of MoU</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1.</th>
            <td>United Technologies Corportion India Pvt. Ltd. (Pratt &Whiteny India Trainning Center)</td>
            <td>19/07/2017</td>
            <td>2 Years</td>
            <td>-To explore collaboration on developing aviation aerospace related courses that may be offered by 
                PWITC to complements the existing course curriculum being offered by the university, with an ultimate aim of enhancing the employability of students and bridging the gap of skilled manpower in the aerospace 
                & aviation sectors & supporting " Skill India“ initiative of Government of India.

            </td>
          </tr>
          <tr>
            <th scope="row">2.</th>
            <td>Research for Resurgence Foundation, Nagpur</td>
            <td>24/07/2017 </td>
            <td>5 Years            </td>
            <td>-To establish research, innovation and creativity among students.

            </td>
          </tr>
          <tr>
            <th scope="row">3.</th>
            <td>Haryana Vishwarkarma Skill University (HVSU)

            </td>
            <td>24/07/2017

            </td>
            <td>3 years

            </td>
            <td>-To offer skill Development Program to Saksham Registered youth undergoing Saksham skill certified program courses.

            </td>
          </tr>
          <tr>
            <th scope="row">4.</th>
            <td>Inter University Accelerator Centre</td>
            <td>10/10/2017</td>
            <td>3 Years</td>
            <td>-To promote Academic interaction between IUAC and YMCAUST to create means of co-operative efforts between 
                the two institutes to effect academic 
                collaboration through joint PHD student sharing </td>
          </tr>
          <tr>
            <th scope="row">5.</th>
            <td>National Institute of Technical, Teachers and Research(NITTTR)</td>
            <td>11/01/2018</td>
            <td>3 Years</td>
            <td>-To promote technical teachers training requirements at National level. </td>
          </tr>
          <tr>
            <th scope="row">6.</th>
            <td>Godrej & Boyce Manufacturing Company Ltd.</td>
            <td>20/04/2018

            </td>
            <td>1 Year</td>
            <td>-To uplift the Education, Skill, Research and Extension by 
                sharing their experiences, curriculum approaches and other matter of relevance 
                through periodic meetings alternatively in either campus at least once in two years. </td>
          </tr>
          <tr>
            <th scope="row">7.</th>
            <td>Yamaha Motor Solutions (INDIA) Private Limited</td>
            <td>20/04/2018</td>
            <td>1 Year

            </td>
            <td>-To provide Academic Interface Programme (“AIP”), under which they will support the student 
                and teacher communities of YMCAUST through workshops and student internships programs.

            </td>
          </tr>

          <tr>
            <th scope="row">8.</th>
            <td>NSIC- Technical Service Centre, Neemka</td>
            <td>15/05/2018

            </td>
            <td>1 year



            </td>
            <td>-To impart industry centric, demand oriented training for 
                skill / entrepreneurship development to address the demand of skilled manpower in the industry 



            </td>
          </tr>

          <tr>
            <th scope="row">9.</th>
            <td>Ador Welding Limited</td>
            <td>18/5/2018</td>
            <td>1 Year

            </td>
            <td>-To explore collaboration on welding, cutting, consumables, 
                power sources and accessories which are of interest to Industry and academia with an ultimate aim of 
                enhancing the employability of students and bridging the gap of skilled manpower.

            </td>
          </tr>

          <tr>
            <th scope="row">10.</th>
            <td>Ambedkar Institute of Technology</td>
            <td>04/06/2018</td>
            <td>1 Year

            </td>
            <td>-To recognize the importance of research and development.
                 <br>
                -To exchange Staff and Students (Faculty & Research Scholars; Doctoral Students regarding Academics and Research for the mutual benefit of both institutions.

            </td>
          </tr>

        </tbody>
      </table>

      <br><br>
      <h4 style="text-align: center;"> Academic Year 2018-2019</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">MoU /Agreement<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspwith the<br> Company/institution</th>
            <th scope="col">Date of Agreement/MoU</th>
            <th scope="col">Validity period</th>
            <th scope="col">Objectives of MoU</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1.</th>
            <td>ICT Academy</td>
            <td>20/09/2018</td>
            <td>3 year</td>
            <td>-To initiate Faculty Development, Youth Empowerment, Student Skill Development, 
                Entrepreneurship Development, Industry- Institute Interaction, Digital Empowerment and Research & Publications.

            </td>
          </tr>
          <tr>
            <th scope="row">2.</th>
            <td>Haryana Skill Development Mission</td>
            <td>21/09/2018            </td>
            <td>3 Years            </td>
            <td>-To engage training provider for providing Skill training to the students.

            </td>
          </tr>
          <tr>
            <th scope="row">3.</th>
            <td>Acezd Consultancy Pvt. Ltd.

            </td>
            <td>17/10/2018

            </td>
            <td>1 Year



            </td>
            <td>-To conduct Technical Projects in University campus.
                <br>
                -To conduct practical trainings, seminars, competitions and technical courses to help students to gain skills.
                
                

            </td>
          </tr>
          <tr>
            <th scope="row">4.</th>
            <td>Amber Enterprises</td>
            <td>03/12/2018

            </td>
            <td>1 Year

            </td>
            <td>-To provide internship and training to students

            </td>
          </tr>
          <tr>
            <th scope="row">5.</th>
            <td>NASSCOM/IT-ITES Sector Skill Council</td>
            <td>13/03/2019

            </td>
            <td>1 year

            </td>
            <td>-To improve employability skill of the trainees of the 
                second party their adoption of the NSQF level, assessments and cortication’s develop by NSDC through its sectors skill councils. 

            </td>
          </tr>
          <tr>
            <th scope="row">6.</th>
            <td>PB Infra Expert Pvt Ltd.</td>
            <td>07/06/2019

            </td>
            <td>1 year</td>
            <td>-To impart skills through training programs 
                to the students under PMKVY engaged with 
                the PB Infra Expert Pvt Ltd with an aim to address the skill requirement by the industry. </td>
          </tr>

        </tbody>
      </table>

      <br><br>
      <h4 style="text-align: center;"> Academic Year 2019-2020</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">MoU /Agreement<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspwith the<br> Company/institution</th>
            <th scope="col">Date of Agreement/MoU</th>
            <th scope="col">Validity period</th>
            <th scope="col">Objectives of MoU</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1.</th>
            <td>Central Electronics Engineering Research Institute, Pilani</td>
            <td>18/07/2019

            </td>
            <td>5 Years</td>
            <td>-To provide assistance in the area of teaching, research, 
                exchange of Faculty and students, cultural exchange and staff development, as deemed beneficial by the two institutions.

            </td>
          </tr>
          <tr>
            <th scope="row">2.</th>
            <td>Rotary Blood Bank Charitable Trust Faridabad</td>
            <td>09/08/2019 </td>
            <td>1 Year            </td>
            <td>-To contact voluntary blood donors themselves through the mobile application 'Boond’.

            </td>
          </tr>
          <tr>
            <th scope="row">3.</th>
            <td>Sanatan Dharam College,Ambala

            </td>
            <td>20/08/2019

            </td>
            <td>3 years

            </td>
            <td>-To cooperate in the areas of research and education.
                <br>
                -To provide academic interaction by delivering special lectures on topics relevance to the modern research.
                
                
            </td>
          </tr>
          <tr>
            <th scope="row">4.</th>
            <td>R.V College of Engineering</td>
            <td>23/08/2019
            </td>
            <td>1 Year

            </td>
            <td>-To promote academic tie-ups with prominent institutions </td>
          </tr>
          <tr>
            <th scope="row">5.</th>
            <td>Design Tech Systems Limited, engineering services company in India</td>
            <td>21/12/2019</td>
            <td>1 Year</td>
            <td>-To develop a Centre of Excellence to provide industrial experience and facilities to students to make them enable to provide solutions of real-time industry problems
                 using Artificial Intelligence, Machine Learning, Augmented Reality and Internet-Of-Things. </td>
          </tr>
          <tr>
            <th scope="row">6.</th>
            <td>Janak Positioning and Surveying Systems Pvt. Ltd.</td>
            <td>17/01/2020



            </td>
            <td>2 Years

            </td>
            <td>-To impart training to the students on the latest equipments of surveying and GIS.

            </td>
          </tr>
          <tr>
            <th scope="row">7.</th>
            <td>Belz Instruments

            </td>
            <td>05/02/2020

            </td>
            <td>3 Years



            </td>
            <td>-To help University in capacity building process 
                in terms of acquiring skills and calibration training to fetch the consultancy projects in related field.



            </td>
          </tr>

          <tr>
            <th scope="row">8.</th>
            <td>ASSOCHAM-GEM
            </td>
            <td>05/06/2020
            </td>
            <td>3 Years
            </td>
            <td>-To promote communication 
                and information exchange between 
                the organizations and their respective members through announcements in journals, websites and other communication modes.
            </td>
          </tr>

          <tr>
            <th scope="row">9.</th>
            <td>Swastik Kaya Kalp,
                Yoga and Naturopathy
                Center</td>
            <td>24/06/2020</td>
            <td>3 Years

            </td>
            <td>-To promote, guide and coordinate research activities 
                in the various aspects of Yoga, particularly 
                its preventive, protective and curative potential for health
            </td>
          </tr>

        </tbody>
      </table>

      <br><br>
      <h4 style="text-align: center;"> Academic Year 2020-2021</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">MoU /Agreement<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspwith the<br> Company/institution</th>
            <th scope="col">Date of Agreement/MoU</th>
            <th scope="col">Validity period</th>
            <th scope="col">Objectives of MoU</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1.</th>
            <td>Prayas Social Welfare Society is signed </td>
            <td>09/07/2020

            </td>
            <td>3 Years</td>
            <td>-To impart free education to underprivileged students belonging to economically weaker section of the society.
            </td>
          </tr>
          <tr>
            <th scope="row">2.</th>
            <td>AICTE  </td>
            <td>18/09/2020  </td>
            <td>5 Years  </td>
            <td>-To conduct joint training programs for teachers on technical education quality parameters and provide certification to them.
             </td>
          </tr>
          <tr>
            <th scope="row">3.</th>
            <td>MAB Civil Technologies and Consultants Pvt. Ltd.
            </td>
            <td>23/11/2020
            </td>
            <td>3 years

            </td>
            <td>-To develop an ecosystem to generate its own resources through Project Consultant Services.
            </td>
          </tr>
          <tr>
            <th scope="row">4.</th>
            <td>Schneider Electric            </td>
            <td>24/11/2020            </td>
            <td>3 Years

            </td>
            <td>-To provide industry specific skills to the students of Electrical engineering to enhance employability.
                 <br>
                -To conduct collaborative programs.
                 <br>
                -To establish state of art laboratories. </td>
          </tr>
          <tr>
            <th scope="row">5.</th>
            <td>NHAI            </td>
            <td>09/12/2020</td>
            <td>5 Years  </td>
            <td>-To facilitate the faculty, researchers and students of the University to familiarize with the latest trends in the highway/transportation sector with a common objective of sharing the knowledge in their respective domain.
                <br>
                -The Institute shall adopt nearby stretches of NHs as a voluntary initiative under ambit of Institutional Social Responsibility. The adopted stretch may be used as a field of study for faculty, researchers and students. </td>
          </tr>
          <tr>
            <th scope="row">6.</th>
            <td>JyotiKiran Mumbai Pvt.Ltd.</td>
            <td>11/12/2020</td>
            <td>25 Years</td>
            <td>-To promote green campus initiative.
                 <br>
                -To install Grid connected Rooftop Solar Power Plant in University campus.

            </td>
          </tr>
          <tr>
            <th scope="row">7.</th>
            <td>Software Technology Parks of India(STPI) Gurugram</td>
            <td>11/01/2021</td>
            <td>5 Years</td>
            <td>-To promote research in block chain technology.
                <br>
                -To create an eco-system for generating human resources and new generation entrepreneurs through mutual cooperation in the area of block chain technology.
            </td>
          </tr>

        </tbody>
    </table>
      
</div>
</section>  
<%- include('partials/footer') -%>
