<%- include('partials/header') -%>

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Posts</h2>
      <p>More opportunities to connect and interact with like-minded people. Post it now!</p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= posts Section ======= -->
  <section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="btn-wrap">
          <a href="#" class="get-started-btn">Create Post</a>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="">Introduction to webdesign</a></h5>
              <p class="fst-italic text-center">Sunday, September 26th at 7:00 pm</p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="">Marketing Strategies</a></h5>
              <p class="fst-italic text-center">Sunday, November 15th at 7:00 pm</p>
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <form class="btn-wrap" action="/posts" method="post">
            <button type="submit" name="btn" value="prev" class="get-started-btn">&lt Previous</button>
            <button type="submit" name="btn" value="next" class="get-started-btn">Next &gt</button>
          </form>
        
      </div>

    </div>
  </section><!-- End posts Section -->

</main><!-- End #main -->

<%- include('partials/footer') -%>
