<%- include('partials/header') -%>

<section id="createpost" class="createpost">
<div class="container" data-aos="fade-up">
  <br /><br /><br /><br /><br /><br /><br />

  <h3><%= createdPost.author %> your post has been submitted. It will be published after review.</h3>

</div>

</section>
<%- include('partials/footer') -%>
