<%- include('partials/header') -%>

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" style="background-image: url('assets/img/bg-1.jpg'); background-size: cover;">
      <div class="container">
        <h2>Meet the Team </h2>
        <p>For the Success and Working of Any Cell there is a bunch of Dedicated people involved in the working of that. We are happy to have 
        such a brilliant team of people with us who are working towards a shared purpose and common goal. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    



      <!-- ======= Trainers Section ======= -->
      <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
  
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/trainers/1.png" class="img-fluid" width="403" height="400" alt="">
                <div class="member-content">
                    <h4>Prof. S.K Garg,Registrar</h4>
                    <span>Advisory Committe</span>
                    <p>
                      Dr. Sunil Kumar Garg is presently Registrar, J.C. Bose University of Science and Technology, YMCA, Faridabad.Dr. Garg has a vast experience in Academia, Research and Development, Industries and Administration spread over about three decades.
                      He has served many academic and technical institutions and member of several academic bodies.
                      He has served many academic bodies and member of several academic bodies including Indian Society of Surface Science & Technology as Founder Member, Indian Society of Analytical Scientists as Life Member and Indian Society of Technical Education as Life Member.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/trainers/2.png"  class="img-fluid" style="height:56%; width:100%"  alt="">
                <div class="member-content">
                    <h4>Prof. Komal Kumar Bhatia, Dean(FIC)</h4>
                    <span>Advisory Committe</span>
                    <p>
                      Prof. Komal Kumar Bhatia is presently Professor & Chairman, Department of Computer Engineering, J.C. Bose University of Science and Technology,YMCA Faridabad, Prof. Bhatia has more than 19+ years of professional Experience.
                      He has authored  more than 105 research papers and his expert area includes Information Retrieval, Web Mining, Hidden Web.In addition to being the Dean of the Computer Department, he provides guidance in strategizing opportunities in collaborating and is acknowledged for efficiently executing such win-win partnerships for all stakeholders.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/trainers/3.jpg" class="img-fluid" style="height:55%; width:100%" alt="">
                <div class="member-content">
                    <h4>Dr. Rashmi Popli</h4>
                    <span>Director, Industry Relation Cell</span>
                    <p>
                      Dr.Rashmi Popli is presently an Assistant Professor at Department of Computer Engineering, J.C. Bose University of Science and Technology,YMCA Faridabad,Dr.Rashmi has more than 15+ yrs. of Teaching Experience.
                      She has authored more than 28 Research Papers and her expert area includes Software Engineering,Software testing,Agile Software Development. Being the Director of IR Cell she has played an important role in strengthening the Industrial-Academia relation and had led IR Cell to greater heights.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="assets/img/trainers/4.png" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Ms. Shilpi Sanghi</h4>
                    <span>MOU Implementation</span>
                    <p>
                      Ms. Shilpi Sanghi is an Assistant Professor at Department of Computer Engineering, J.C. Bose University of Science and Technology,YMCA Faridabad.She has more than 3+ years of Teaching Experience. Also apart from being Incharge of MOU Implementations from IR Cell
                      she is also pursuing her PhD from the university.Her area of expert is software Engineering.With her right blend of technological know-how and interpersonal skills, she is enthusiastically working towards adding value to industry relations at the IR Cell.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="assets/img/trainers/5.png"  width="403" height="440" alt="" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Mr.Atma Ram</h4>
                    <span>Industrial Visits</span>
                    <p>
                      Mr. Atma Ram is an Assistant Professor at Department of Electrical Engineering, J.C. Bose University of Science and Technology,YMCA Faridabad. Having Great teaching and Indusrtry Experience he is been an integral part in organizing Industrial Visits so that the students can get to
                      know with the technologies being presently use and help in development of students.His determination and drive to create a positive and transparent workspace is key to his success for development of IR Cell.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="assets/img/trainers/6.png" class="img-fluid" style="height:60%; width:100%" alt="">
                  <div class="member-content">
                    <h4>Dr.Somvir Bajar</h4>
                    <span>Student Activities and Events</span>
                    <p>
                      Dr. Somvir Bajra is an Assistant Professor at Department of Environmental Sciences, J.C. Bose University of Science and Technology,YMCA Faridabad.He has more than 10+ years of teaching experience,Dr. Bajra have authored
                      more than 23 Research Papers his area of expertise is Carbon Sequestration, Bioremediation, Environmental Pollution Management.He is an important element of the team who had led to smooth process of conducting different Student Activities and Events. 
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="assets/img/trainers/7.png" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Dr. Rajni Saggu</h4>
                    <span>Student Activities and Events</span>
                    <p>
                      Dr. Rajni Saggu is an Assistant Professor at Department of Civil Engineering, J.C. Bose University of Science and Technology,YMCA Faridabad.She has great interpersonal skills and had garnered strong analytical, team leadership during her work.With her right blend of technological know-how and interpersonal skills, she is enthusiastically working towards
                      conducting different Student Activities and Events for what she is responsible. She has conducting different events and Student Activities which has resulted in betterment of students.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="assets/img/trainers/8.png" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Sativa Wangnoo</h4>
                    <span>Developer,Team Member</span>
                    <p>
                        Sativa is a 3rd yr. CE Student at J.C. Bose University of Science and Technology,YMCA Faridabad. He is a learner in spirit and continuity. His motive is clear to work in domains where he feel happy and to feel joy in work. 
                        He played an important role in the development of IR Cell Website which will help university to reach to different Industries and will help in strengthening industrial-academia relation. 
                    </p>
                    <div class="social">
                        <a href="https://twitter.com/sativa_wangnoo" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/sativawangnoo" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/satiwahh/" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/sativawangnoo/" target="_blank"><i class="bi bi-linkedin"></i></a>
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="assets/img/trainers/9.jfif" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Shivam Bhat</h4>
                    <span>Developer,Team Member</span>
<p>
                  Shivam is a 3rd yr. CE student at J.C. Bose University of Science and Technology,YMCA Faridabad.He is a dedicated learner who has great ability of handling multiple tasks on a daily basis competently and at working well under pressure.
                  He also played an important role in the development of IR Cell Website which will help university to reach to different Industries and will help in strengthening industrial-academia relation.
                </p>
                <div class="social">
                  <a href="https://twitter.com/Shivam_45Bhat" target="_blank"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/shivam.bhat.35" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/shivam_bhat45/" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/shivam-bhat-119344105/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
                  </div>
                </div>
              </div>

  
          </div>
  
        </div>
      </section>

<%- include('partials/footer') -%>
